html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.spinner {
  height: 100px;
  width: 100px;
  margin: 0px auto;
  -webkit-animation: rotation 0.5s infinite linear;
  -moz-animation: rotation 0.5s infinite linear;
  -o-animation: rotation 0.5s infinite linear;
  animation: rotation 0.5s infinite linear;
  border: 6px solid darkblue;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.h1,
.h2,
h1,
h2 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

p,
span {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
}

.textColor1 {
  color: #21252a;
}

.h3force {
  font-size: calc(1.3rem + 0.6vw) !important;
}

.url,
.url:hover,
.url *,
.url * {
  color: #ff4c60;
}

.changingTheme *:not(svg):not(path) {
  transition: color 2s, background-color 2s, border-color 2s, box-shadow 2s,
    opacity 2s !important;
}
